* {
    box-sizing: border-box;
}

.box {
  
    position: relative;
    left: 50px;
    width: 900px;
    height: 612px;
    background: #FFFFFF;
    border: 2px solid black;
}

.image>img {

    position: absolute;
    width: 270px;
    height: 608px;
    left: 0px;
    top: 0px;
    background: #C4C4C4;
}

.firstText {
    position: absolute;
    width: 100px;
    height: 21px;
    left: 350px;
    top: 32px;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
}

.secondText {
    position: absolute;
    width: 402px;
    height: 21px;
    left: 350px;
    top: 53px;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    font-weight: bold;

}

.imgSmall {
    position: absolute;
    width: 36px;
    height: 83px;
    left: 294px;
    top: 45px;
    color: #C4C4C4;
}

.content {
    position: absolute;
    width: 630px;
    height: 499px;
    left: 265px;
    top: 109px;

    background: #F9F9F9;
}

.special {
    font-weight: bold;
    display: block;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-bottom: 8px;
    margin-top: 36px;

}

.firstContent {
    position: relative;
    margin-left: 82px;
    margin-right: 94px;
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;

}

.secondContent {
    position: relative;
    ;
    margin-left: 82px;
    margin-right: 163px;
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
}

.thirdContent {
    position: relative;
    margin-left: 82px;
    margin-right: 45px;
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 64px;
}

.logo {
    position: absolute;
    width: 113px;
    height: 44px;
    bottom: 0px;
    right: 0px;
    background: #FFFFFF;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.25);
    font-family: Audi Type;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
}

.name {
    position: absolute;
    width: 265px;
    height: 125px;
    left: 0px;
    top: 450px;

}

h1 {
    position: absolute;
    width: 218px;
    height: 36px;
    left: 16px;
    top: 20px;
    right: 36px;
    color: white;
    z-index: 1;
}

.first {
    position: absolute;
    left: 16px;
    top: 80px;
    color: white;
    z-index: 1;
    font-family: Bw Modelica;
    font-size: 18px;
    line-height: 17px;


    color: #FFFFFF;
}

.second {
    position: absolute;
    left: 16px;
    top: 110px;
    color: white;
    z-index: 1;
    font-family: Bw Modelica;
    font-size: 18px;
    line-height: 17px;
   
}